@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

:root {
  --one: #ffcb74;
  --two: #111;
  --three: #f6f6f6;
  --four: #2f2f2f;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--two);
  color: var(--three);
  font-size: 20px;
}

h1, h2, h3 {
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 3.5em;
  margin: 0 0 2.5px -2.5px;
  color: var(--one);
  line-height: 100%;
  font-family: 'Teko', sans-serif;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 0.7em;
}

a, .icon {
  color: var(--one);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.home, .project, .contact {
  display: grid;
  padding: 15px;
  gap: 1.5em;
  margin-bottom: 1em;
}

.home, .contact {
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.home {
  min-height: 100vh;
  box-sizing: border-box;
}

.home .box h2 {
  background-color: var(--four);
  width: max-content;
  box-shadow: 3px -3px 0 var(--one);
  padding: 5px 10px;
  cursor: pointer;
  color: var(--one);
  margin-top: 2em;
}

.home .box h2 .icon {
  font-size: 0.7em;
  margin: 0 0 1px 5px;
}

.home .profile {
  width: 100%;
  aspect-ratio: 1/1;
  padding: 0.7em;
  box-sizing: border-box;
  position: relative;
}

.home .profile img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  filter: drop-shadow(3px -3px 0 var(--one));
}

.home .profile .bg {
  position: absolute;
  top: 15%;
  left: 15%;
  right: 15%;
  bottom: 15%;
  background-color: var(--four);
  z-index: -99;
  box-shadow: -3px -3px 0 var(--one);
}

.home .profile .shadow {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  box-shadow: 0 -90px 20px -30px var(--two) inset;
  z-index: 99;
}

.skill {
  display: grid;
  padding: 15px;
  margin-bottom: 1em;
  align-items: center;
  grid-template-columns: repeat(10, 1fr);
  gap: 1em;
}

.skill .tool {
  position: relative;
}

.skill .tool img{
  width: 100%;
  display: block;
}

.skill .tool h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
  cursor: default;
}

.skill .tool:hover img {
  filter: brightness(50%);
}

.skill .tool:hover h3 {
  display: block;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.image {
  position: relative;
  background-color: var(--four);
  border-radius: 5px;
  overflow: hidden;
}

.image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 -100px 75px -15px var(--four) inset;
}

.image img {
  width: 100%;
  aspect-ratio: 2.5/1.5;
  display: block;
  filter: brightness(50%);
}

.image .text {
  padding: 0.7em 0.9em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

.image .text h2 {
  margin-bottom: 2px;
  color: var(--one);
}

.image .text .visit {
  color: var(--one);
  width: max-content;
  margin-top: 1em;
}

.image .text .visit a{
  text-decoration: none;
  letter-spacing: 1px;
}

.image .text .visit a .icon {
  margin: 0 0 1px 5px;
}

.social {
  display: flex;
  gap: 0.7em;
  margin-top: 2em;
}

.social a {
  font-size: 1em;
  background-color: var(--four);
  line-height: 100%;
  padding: 10px 13px;
  box-shadow: 3px -3px 0 var(--one);
}

form {
  display: grid;
}

form input, form textarea {
  outline: none;
  background-color: transparent;
  border: 1px solid var(--four);
  padding: 10px;
  font-size: 0.7em;
  font-family: 'Poppins', sans-serif;
  color: var(--three);
  resize: none;
  margin: 5px 0 15px;
}

form button {
  padding: 10px;
  background-color: var(--four);
  outline: none;
  cursor: pointer;
  font-size: 1em;
  color: var(--one);
  border: none;
  font-family: 'Poppins', sans-serif;
  box-shadow: 3px -3px 0 var(--one);
}

.footer {
  padding: 15px;
}

.dis {
  filter: brightness(75%);
}

.alert {
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 0.5em 1em;
  background-color: var(--four);
  color: var(--one);
  z-index: 99;
  box-shadow: 3px -3px 0 var(--one);
}

::selection {
  background-color: var(--four);
  color: var(--one);
}

@media screen and (max-width: 750px) {
  body {
    font-size: 16px;
  }

  .home, .contact {
    grid-template-columns: repeat(1, 1fr);
  }

  .skill {
    grid-template-columns: repeat(5, 1fr);
  }

  .home .profile .shadow {
    box-shadow: 0 -83px 20px -30px var(--two) inset;
  }
}

@media screen and (max-width: 450px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }

  .home .profile .shadow {
    box-shadow: 0 -76px 20px -30px var(--two) inset;
  }
}
