@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    background: rgb(17,17,17);
    background: linear-gradient(180deg, rgba(17,17,17,1) 50%, rgba(17,17,17,0.5) 75%, rgba(17,17,17,0) 100%);
}

.about {
    background: #e60b17;
    background: linear-gradient(180deg, #111111 50%, #e60b17 100%);
}
